* {
  margin: 0;
  padding: 0;
}
.headpanda li a {
  font-size: 1.2em;
  font-weight: 500;
}
.product img {
  width: 100px;
}
.shoespanda img {
  padding: 20px;
}
.pandabtnshoe {
  background-color: black;
  color: #fff;
  padding: 11px 30px;
  border-radius: 5px;
  font-size: 19px;
}
.fa-solid {
  margin-left: 5px;
  color: #fff;
}

.shoespanda p {
  font-size: 1.1em;
}
.subcribepanda{
    padding: 80px;
}
.email-btn {
  display: flex;
}
.email-btn input {
  border: none;
  border-radius: 10px 0px 0px 10px;
  width: 350px;
  height: 50px;
}
.email-btn button {
  border-radius: 0px 10px 10px 0px;
  width: 90px;
  background-image: linear-gradient(20deg, #bc4e9c, #f80759);
}
